.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
out/
.nb-gradle/
src/main/resources/static/
src/main/resources/templates/


build/*
!build
!build/libs
!build/libs/*.jar
build/libs/*.jar.original
